streamlit
chromadb
sentence-transformers
sentencepiece
edge-tts
google-generativeai
huggingface_hub
openai
faster-whisper
pyannote.audio
transformers
accelerate
torch
torchaudio
numpy
pandas
scipy
scikit-learn
soundfile
ctranslate2
onnxruntime
pydantic
python-dotenv
requests
tqdm
