gradio>=4.44.1,<5.0.0
fastapi>=0.110.0
uvicorn>=0.28.0
streamlit>=1.35.0
chromadb>=0.4.22
sentence-transformers>=2.2.2
sentencepiece
edge-tts>=6.1.0
google-generativeai
huggingface_hub
openai
torch
numpy
pandas
scipy
scikit-learn
soundfile
pydantic>=2.0.0
python-dotenv
requests
tqdm
