streamlit>=1.35.0
chromadb>=0.4.22
sentence-transformers>=2.2.2
sentencepiece
edge-tts>=6.1.0
google-generativeai
huggingface_hub
openai
torch
numpy
pandas
scipy
scikit-learn
soundfile
pydantic
python-dotenv
requests
tqdm
